.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content button .texto {
  color: black;
  justify-content: flex-start;
  margin-left: 10px;
}

.dropdown-content button:hover {
  background-color: #ecf0f1;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.dropdown .icono {
  width: 30px;
  top: -2px;
  position: relative;
}
